/* KeyFrames used for twinkling of stars */
@-webkit-keyframes twinkle_1 {
    0%   { opacity: 0.7; }
    30%  { opacity: 0.7; }
    70%  { opacity: 0; }
    100% { opacity: 0.7; }
  }
  @-moz-keyframes twinkle_1 {
    0%   { opacity: 0.7; }
    30%  { opacity: 0.7; }
    70%  { opacity: 0; }
    100% { opacity: 0.7; }
  }
  @-o-keyframes twinkle_1 {
    0%   { opacity: 0.7; }
    30%  { opacity: 0.7; }
    70%  { opacity: 0; }
    100% { opacity: 0.7; }
  }
  @keyframes twinkle_1 {
    0%   { opacity: 0.7; }
    30%  { opacity: 0.7; }
    70%  { opacity: 0; }
    100% { opacity: 0.7; }
  }

@-webkit-keyframes twinkle_2 {
    0%   { opacity: 0.7; }
    25%  { opacity: 0; }
    80%  { opacity: 0; }
    100% { opacity: 0.7; }
  }
  @-moz-keyframes twinkle_2 {
    0%   { opacity: 0.7; }
    25%  { opacity: 0; }
    80%  { opacity: 0; }
    100% { opacity: 0.7; }
  }
  @-o-keyframes twinkle_2 {
    0%   { opacity: 0.7; }
    25%  { opacity: 0; }
    80%  { opacity: 0; }
    100% { opacity: 0.7; }
  }
  @keyframes twinkle_2 {
    0%   { opacity: 0.7; }
    25%  { opacity: 0; }
    80%  { opacity: 0; }
    100% { opacity: 0.7; }
  }

@-webkit-keyframes twinkle_3 {
    0%   { opacity: 0.7; }
    30%  { opacity: 0; }
    40%  { opacity: 0; }
    100% { opacity: 0.7; }
  }
  @-moz-keyframes twinkle_3 {
    0%   { opacity: 0.7; }
    30%  { opacity: 0; }
    40%  { opacity: 0; }
    100% { opacity: 0.7; }
  }
  @-o-keyframes twinkle_3 {
    0%   { opacity: 0.7; }
    30%  { opacity: 0; }
    40%  { opacity: 0; }
    100% { opacity: 0.7; }
  }
  @keyframes twinkle_3 {
    0%   { opacity: 0.7; }
    30%  { opacity: 0; }
    40%  { opacity: 0; }
    100% { opacity: 0.7; }
  }

  /* Star types */

  .star-type1{
    width: 1px;
    height: 1px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 1px 1px white;
            box-shadow: 0 0 1px 1px white;
    
  }
  .star-type2{
    width: 2px;
    height: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px 1px white;
            box-shadow: 0 0 2px 1px white;
  }
  .star-type3{
    width: 2px;
    height: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px 0 white;
            box-shadow: 0 0 2px 0 white;
  }
  